/* Header.css */
.main-header {
  background-color: #f8f1e6;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; /* Предотвращает выход за пределы рамок */
}

.logo {
  max-width: 150px;
}

.logo img {
  max-width: 100%;
}

.search-bar {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  flex-grow: 1; /* Занимает все доступное пространство */
}

.search-bar button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #4caf50;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
  color: #4d4d4d;
  font-size: 14px;
}

.logout-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}

.cart-link {
  display: flex;
  align-items: center;
}

.cart-link span {
  font-size: 24px;
  margin-right: 5px;
  color: #4caf50;
}

@media (max-width: 768px) {
  /* Стили для экранов с шириной до 768px */
  .search-bar {
    flex-direction: column; /* Переключение на вертикальное расположение на мобильных устройствах */
  }

  .search-bar input,
  .search-bar button {
    margin: 10px 0; /* Дополнительный отступ между полем ввода и кнопкой */
  }

  nav ul {
    flex-direction: column; /* Переключение на вертикальное расположение на мобильных устройствах */
  }

  nav ul li {
    margin-right: 0; /* Удаление отступа между элементами меню на мобильных устройствах */
  }

  nav a,
  .user-info span,
  .logout-button,
  .cart-link span {
    font-size: 14px; /* Уменьшение размера шрифта на мобильных устройствах */
  }
}

